body {
	background: url("../img/bg.jpg") no-repeat;
	background-size: cover;
	margin: auto;
}

/*----------header----------*/
header {
	text-align: center;
	color: #BEC0C1;
	background-color: #fff;
	border-bottom : 5px solid #E01045;
	position: fixed;
	top: 0;
	width: 100%;
	
}

.logo {
	height:90px; 
	width:90px;
}

nav li {
	display: inline;
}


/*---------Grand text-----------*/

.GT{
	color: #fff;
	text-align: center;
	border: 1px solid;
	margin-top: 300px;
	margin-bottom: 140px;
}	

/*-----------Text--------------*/

.text {
	background: #fff;
	color: #E01045;
	text-align: center;
}

.pc {
	height: 5%;
	width: 5%;
	border-bottom: 5px solid;
}

.T {
	background: #EDEDED;

}
