body {
	background: url("../img/bg.jpg") no-repeat;
	margin: auto;
	font-family: Arial;
}

/*----------header----------*/
header {
	text-align: center;
	color: #BEC0C1;
	background-color: #fff;
	border-bottom : 8px solid #E01045;
	position: fixed;
	top: 0;
	width: 100%;
	
}

.logo {
	height:90px; 
	width:90px;
}

nav li {
	display: inline;
}


/*---------Grand text-----------*/

.GT{
	color: #fff;
	text-align: center;
	border: 1px solid;
	margin-top: 300px;
	margin-bottom: 140px;
	margin-left: 300px;
	margin-right: 300px;
}	

/*-----------Text--------------*/

.text {
	background: #fff;
	color: #E01045;
	text-align: center;
	padding-top: 5px;
}

/*--------Block de text------*/

.pc {
	width: 40%;
	border-bottom: 5px solid #E01045;
	padding-bottom:5%;
	
}

.block {
	background: #EDEDED;
	display: inline-block;
	width: 16%;
	margin: 40px;
	padding: 25px;
	color: #939B9A;
	height: 300px;
	vertical-align: top;
}

/*----------footer-----------*/

footer {
	background: #373232;
	text-align: center;
	color: #fff;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
}

.logoafpa {
	width:70px;
}

.logomde {
	width:110px;
}